<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <%= stylesheet_link_tag 'normalize' %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'text' %>

  <title>whythis.life</title>
</head>
<body>
  <header>
    <div>
      <div class="clearfix">
        <h2 class="name"><%= link_to "whythis.life", "/" %></h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </header>
  <section id="main" role="main" class="content">
    <div class="posts-wrapper">
      <%= yield %>
    </div>
    <aside class="sidebar">
      <div class="sidebar-item borderless">
        <h3>Recent Articles</h3>
        <ol>
          <% blog.articles[0...10].each do |article| %>
          <li><a href="<%= article.url %>"><%= article.title %></a></li>
          <% end %>
        </ol>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li>
            <h5 style="margin-bottom:0;"><%= year %></h5>
              <% articles.each do |article| %>
              <br/>
              <a href="<%= article.url %>"><%= article.title %></a>
              <% end %>
          </li>
          <% end %>
        </ol>
      </div>
    </aside>
  </section>
</body>
</html>
