---
pageable: true
per_page: 5
---
<% page_articles.each_with_index do |article, i| %>
  <article class="post">
	 <h1 class="post-title"><%= link_to article.title, article %></h1>
    <div class="post-meta"><%= article.date.strftime('%e %B %Y') %></div>
	 <div class="post-text"><%= article.body %></div>
  </article>
<% end %>
<% if paginate %>
  <p class="pagination-controls">
    <% if prev_page %>
      <span><%= link_to '<<', prev_page %></span>
    <% end %>
    <span><%= page_number %> of <%= num_pages %></span>

    <% if next_page %>
      <span><%= link_to '>>', next_page %></span>
    <% end %>
  </p>
<% end %>
